body {
  background: rgb(129, 125, 125);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#root {
  width: 95%;
}
.chessboard {
  width: 640px;
  height: 640px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: rgb(45, 45, 45);
  font-size: 25px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: white;
  font-size: 25px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  transition: all 0.2s ease-in-out;
}

.white:hover,
.black:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}

.black:hover {
  color: black;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
